In [1]:
import numpy as np
import pandas as pd
import os
import glob

In [2]:
# read all csv files in the current directory
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10759143 entries, 0 to 237496
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   SITE_XN_ROUTE  int64
 1   LOC_LEG        int64
 2   DATE           object
 3   TIME           object
 4   SPEED          float64
 5   WHEELBASE      float64
 6   HEADWAY        float64
 7   GAP            float64
 8   RHO            float64
 9   DIRECTION      object
dtypes: float64(5), int64(2), object(3)
memory usage: 902.9+ MB

In [4]:
# export df as csv
# df.to_csv('2021.csv', index=False)

In [4]:
df['WEEKDAY'] = df['DATE'].apply(lambda x: pd.Timestamp(day=int(x.split('/')[0]), month=int(x.split('/')[1]), year=int(x.split('/')[2])).day_name())

In [5]:
df.head()

,SITE_XN_ROUTE,LOC_LEG,DATE,TIME,SPEED,WHEELBASE,HEADWAY,GAP,RHO,DIRECTION,WEEKDAY
0,10223,59444,30/08/2021,06:31:31,18.4,1.1,230.9,230.5,1.0,S,Monday
1,10223,59444,30/08/2021,06:57:16,23.0,1.0,997.1,997.0,1.0,S,Monday
2,10223,59443,30/08/2021,06:59:58,28.7,1.0,762.9,762.9,1.0,N,Monday
3,10223,59444,30/08/2021,07:00:46,19.6,1.0,210.2,210.0,1.0,S,Monday
4,10223,59444,30/08/2021,07:04:24,14.1,1.1,217.5,217.4,1.0,S,Monday

In [6]:
df.tail()

,SITE_XN_ROUTE,LOC_LEG,DATE,TIME,SPEED,WHEELBASE,HEADWAY,GAP,RHO,DIRECTION,WEEKDAY
237492,9999,32153,23/05/2021,23:18:59,17.4,1.1,1053.3,1053.0,1.0,S,Sunday
237493,9999,32153,23/05/2021,23:19:31,17.3,1.1,32.4,32.1,1.0,S,Sunday
237494,9999,32153,23/05/2021,23:19:33,16.0,1.1,1.6,1.4,1.0,S,Sunday
237495,9999,32153,23/05/2021,23:27:11,19.5,1.0,65.1,63.9,1.0,S,Sunday
237496,9999,32153,23/05/2021,23:31:42,26.2,1.1,271.1,270.9,1.0,S,Sunday

In [7]:
df.to_csv('2021.csv', index=False)