In [1]:
import numpy as np
import pandas as pd
import os
import glob

In [2]:
# read all csv files in the current directory
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22485932 entries, 0 to 312718
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   SITE_XN_ROUTE  int64
 1   LOC_LEG        int64
 2   DATE           object
 3   TIME           object
 4   SPEED          float64
 5   WHEELBASE      float64
 6   HEADWAY        float64
 7   GAP            float64
 8   RHO            float64
 9   DIRECTION      object
dtypes: float64(5), int64(2), object(3)
memory usage: 1.8+ GB

In [4]:
# export df as csv
# df.to_csv('2020.csv', index=False)

In [4]:
df.head()

,SITE_XN_ROUTE,LOC_LEG,DATE,TIME,SPEED,WHEELBASE,HEADWAY,GAP,RHO,DIRECTION
0,6592,59452,02/03/2020,00:10:50,23.7,1.0,0.0,0.1,1.0,N
1,6592,59453,02/03/2020,02:51:10,23.7,1.0,9620.1,9620.1,1.0,S
2,6592,59452,02/03/2020,03:09:32,22.4,1.1,10722.7,10722.5,1.0,N
3,6592,59453,02/03/2020,03:31:50,24.6,1.1,2440.4,2440.3,1.0,S
4,6592,59453,02/03/2020,03:58:08,26.0,1.1,1577.4,1577.3,1.0,S

In [5]:
df.head()['DATE'][0]

'02/03/2020'

In [6]:
type(df.head()['DATE'][0])

str

In [7]:
''' 
提取csv的DATE列，转换为星期

第一种方法
'''

pd.Timestamp(day=int(df.head()['DATE'][0].split('/')[0]), month=int(df.head()['DATE'][0].split('/')[1]), year=int(df.head()['DATE'][0].split('/')[2])).day_name()

'Monday'

In [8]:
'''
第二种方法
'''

import calendar

calendar.weekday(int(df.head()['DATE'][0].split('/')[2]), int(df.head()['DATE'][0].split('/')[1]), int(df.head()['DATE'][0].split('/')[0]))

0

In [9]:
# 提取df中所有日期，使用pd.Timestamp计算出星期
df['WEEKDAY'] = df['DATE'].apply(lambda x: pd.Timestamp(day=int(x.split('/')[0]), month=int(x.split('/')[1]), year=int(x.split('/')[2])).day_name())

In [10]:
df.head()

,SITE_XN_ROUTE,LOC_LEG,DATE,TIME,SPEED,WHEELBASE,HEADWAY,GAP,RHO,DIRECTION,WEEKDAY
0,6592,59452,02/03/2020,00:10:50,23.7,1.0,0.0,0.1,1.0,N,Monday
1,6592,59453,02/03/2020,02:51:10,23.7,1.0,9620.1,9620.1,1.0,S,Monday
2,6592,59452,02/03/2020,03:09:32,22.4,1.1,10722.7,10722.5,1.0,N,Monday
3,6592,59453,02/03/2020,03:31:50,24.6,1.1,2440.4,2440.3,1.0,S,Monday
4,6592,59453,02/03/2020,03:58:08,26.0,1.1,1577.4,1577.3,1.0,S,Monday

In [11]:
df.tail()

,SITE_XN_ROUTE,LOC_LEG,DATE,TIME,SPEED,WHEELBASE,HEADWAY,GAP,RHO,DIRECTION,WEEKDAY
312714,8176,59446,02/08/2020,22:00:59,25.6,1.1,1836.1,1835.9,1.0,E,Sunday
312715,8176,59446,02/08/2020,22:15:34,31.1,1.1,876.0,875.8,1.0,E,Sunday
312716,8176,59446,02/08/2020,22:28:40,27.1,1.1,785.3,785.2,1.0,E,Sunday
312717,8176,59446,02/08/2020,22:44:09,33.0,1.0,928.7,928.6,1.0,E,Sunday
312718,8176,59446,02/08/2020,23:14:18,20.8,1.1,1809.8,1809.7,1.0,E,Sunday

In [12]:
# export df as csv
df.to_csv('2020.csv', index=False)